<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Sales Force Application Suite"  >

<listeners>
<listener
class-name="com.salesforce.ExtentReportListener.ExtentReporterNG"/>
</listeners>
  <test name="Sales Force Test Cases" >
  
    <classes>
       <class name="com.salesforce.testcases.LoginPageTest" />
       <class name="com.salesforce.testcases.AccountsPageTest" />
       <class name="com.salesforce.testcases.HomePageTest" />
       <class name="com.salesforce.testcases.MySettingsPageTest" />
       <class name="com.salesforce.testcases.ProfilesPageTest" />
       
       
  </classes>  
   
  </test>  
</suite>